main div:nth-child(2 ) *{
    font-family: Rubik;
}

main div:nth-child(2) section:nth-child(2){
    display: flex;
}

main div:nth-child(2) section:first-child{
    display: flex;
    justify-content: space-between;
}

main div:nth-child(2) section:first-child p{
    margin-left: 65px;
}

main div:nth-child(2) section:first-child a{
    margin-right: 50px;
}