main{
    background-color: black;
    overflow: hidden;
}

main section:first-child {
    display: flex;
    margin-left: 8%;
    margin-right: 25px;
    margin-top: 100px;
    width: 60%;
}



main section:first-child p:first-child{
    color: #FA9021;
    font-size: 20px;
    margin-bottom: 17px;
}

main section:first-child section{
    display: inline;
    z-index: 2;

}

main p{
    color: aliceblue;
}

main h1{
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 26px;

}




main section:first-child nav a{
    color: aliceblue;
    background-color: #FA9021;
    padding: 15px 30px 0px 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

main section:nth-child(2){
    align-items: center;
    display: flex;
}

main section:nth-child(2) section{
    align-items: center;
    display: flex;
    position: absolute;
    top:20%;
    left: 50%;
}

main section:nth-child(2) section img{
    height: 30px;
    margin-right: 5px;
}

main section:nth-child(2) section p{
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
   
}


main section:nth-child(2) img:nth-child(2){
    height: 100px;
    position: absolute;
    top: 17%;
    right: 30%;
}

main section:nth-child(2) img:nth-child(3){
    height: 65px;
    position: absolute;
    top: 20%;
    right: 10%;
}

main section:nth-child(2) img:nth-child(4){
    position: absolute;
    top: -5%;
    right: -3%;
}


@media screen and (max-width:1220px) {
    main section:nth-child(2) img:nth-child(4){
        position: absolute;
        top: -5%;
        right: -20%;
    }
}